<script lang="ts" setup>
import { ref } from "vue";
const num = 0;
const count = ref(0);
</script>

<template>
  <v-text-field
    label="Please input Number"
    placeholder="0"
    :rules="[(v) => !!v || 'Number is not empty!!']"
    v-model.number="count"
    type="number"
  ></v-text-field>
  <v-row>
    <v-col v-for="i in count" :key="i" cols="1">{{ i }}</v-col>
  </v-row>
</template>
