<script lang="ts" setup>
import { ref, computed } from "vue";
const feeling = ref("Smile");
const img = ref("../../feeling_imgs/smile.png");
</script>
<template>
  <v-row>
    <v-col class="d-flex justify-center align-center ma-10">
      <v-img :src="img" max-width="25vw"></v-img>
    </v-col>
    <v-col class="ma-10">
      <h1 class="text-center">{{ feeling }}</h1>
      <v-container>
        <v-row>
          <v-btn
            width="50vw"
            class="ma-2"
            @click="(feeling = 'Angry'), (img = '../../feeling_imgs/angry.png')"
            >ANGRY</v-btn
          >
        </v-row>
        <v-row>
          <v-btn
            width="50vw"
            class="ma-2"
            @click="(feeling = 'Cute'), (img = '../../feeling_imgs/cute.png')"
            >CUTE</v-btn
          >
        </v-row>
        <v-row>
          <v-btn
            width="50vw"
            class="ma-2"
            @click="
              (feeling = 'Excited'), (img = '../../feeling_imgs/excited.png')
            "
            >EXCITED</v-btn
          >
        </v-row>
        <v-row>
          <v-btn
            width="50vw"
            class="ma-2"
            @click="(feeling = 'Pain'), (img = '../../feeling_imgs/pain.png')"
            >PAIN</v-btn
          >
        </v-row>
        <v-row>
          <v-btn
            width="50vw"
            class="ma-2"
            @click="
              (feeling = 'Shocked'), (img = '../../feeling_imgs/shocked.png')
            "
            >SHOCKED</v-btn
          >
        </v-row>
        <v-row>
          <v-btn
            width="50vw"
            class="ma-2"
            @click="(feeling = 'Smile'), (img = '../../feeling_imgs/smile.png')"
            >SMILE</v-btn
          >
        </v-row>
      </v-container>
    </v-col>
  </v-row>
</template>

<style scoped>
.v-btn {
  background-color: white;
}

.v-btn:focus {
  background-color: yellow;
}
</style>

//finish
