<script setup lang="ts">
import { ref } from "vue";
import { useCounterStore } from "@/stores/counter";
const counterStore = useCounterStore();
</script>
<template>
  <div>Second Component</div>
  <div>{{ counterStore.count * 2 }}</div>
  <br />
  <v-btn @click="counterStore.decrement">INCREMENT</v-btn>
</template>
